body {
  background-color: #ffffff;
}

header {
  padding: 38px 162px;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.line {
  width: 100%;
  background-color: #dbdbdb;
  height: 1px;
}

.container {
  padding: 77px 162px;
  max-width: 100%;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filter-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 6px;
}
.select-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}
.btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  padding: 14px 16px;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 10px;
  background-color: #ffffff;
}

.add-listing-btn {
  background-color: #f93b1d;
  color: #ffffff;
}
.add-agent-btn {
  color: #f93b1d;
  border: 1px solid #f93b1d;
}

.filters {
  margin-top: 16px;
  margin-bottom: 32px;
}

.filter-remove-btn {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 43px;
  border: 1px solid #dbdbdb;
}

.plats {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.plat {
  border: 1px solid #dbdbdb;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-image: url(./assets//image.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 455px;
  min-width: 384px;
}

.condition {
  border-radius: 15px;
  color: #ffffff;
  background-color: rgba(2, 21, 38, 0.5);
  padding: 6px 10px;
  width: fit-content;
}

.price {
  font-size: 28px;
  font-weight: 900;
  margin-top: auto;
}

.address,
.property {
  display: flex;
  align-items: center;
  gap: 4px;
}

.properties {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 20px;
}
.property {
  color: rgba(2, 21, 38, 0.7);
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 21, 38, 0.34);
  justify-content: center;
  align-items: center;
  display: none;
}

.agent-form {
  background-color: white;
  border-radius: 10px;
  padding: 87px 105px;
}
.agent-form h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.agent-form label,
.agent-form h3 {
  font-size: 14px;
  font-weight: 700;
}
.agent-form h3 {
  margin-top: 28px;
}
.person-infos {
  display: flex;
  gap: 31px;
  margin-top: 61px;
}
.name-box,
.surname-box {
  display: flex;
  flex-direction: column;
}

#name,
#surname,
#email,
#tel {
  padding: 14px 10px;
  border-radius: 6px;
  border: 1px solid rgba(128, 138, 147, 1);
  margin-top: 5px;
  min-width: 350px;
}

#name-box span,
#surname span {
  margin-top: 4px;
}

.contact-info {
  margin-top: 28px;
}

.image-box {
  width: 100%;
  padding: 45px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed rgba(45, 54, 72, 1);
  cursor: pointer;
}

.controls {
  margin-top: 94px;
  width: 100%;
  justify-content: flex-end;
}

.modal.active {
  display: flex;
}

span.error {
  color: rgba(249, 59, 29, 1);
}
.avatar-box {
  position: relative;
  display: none;
}
.avatar-preview {
  width: 92px;
  height: 82px;
  border-radius: 4px;
}

.icon-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8px;
  right: -8px;
  border: 1px solid rgba(2, 21, 38, 1);
  background-color: #ffffff;
  z-index: 3;
}
